<div class="container">
<div class="col-md-8 col-md-offset-2">

<h1>About Us</h1>
<h2>Most nutritional guidelines are misleading.</h2>
<p>The sad truth is, nutritional research is very hard and much of the published data regarding how much to eat is somewhat <a href="http://www.nature.com/news/dietary-data-under-fire-for-being-unreliable-1.17730">unreliable</a>. Nonetheless, guidelines based on scientific research are still useful. The discovery and linking of vitamins to various diseases is one of the greatest triumps of modern dietary science. Sailors of the 1700's noticed that bleeding gums(scurvy) could be mitigated by drinking rum mixed with <a href="http://askabiologist.asu.edu/explore/sailors-called-limeys">lime juice.</a>. Antarctic explorers who ran out of food and were forced to eat <a href="http://www.smithsonianmag.com/history/the-most-terrible-polar-exploration-ever-douglas-mawsons-antarctic-journey-82192685/?no-ist">their dogs</a>(especially the liver meat) suffered a variety of <a href="https://en.wikipedia.org/wiki/Hypervitaminosis_A">ill effects</a>. 
<br><br>
The first scenario describes vitamin C deficiency and the second describes having too much vitamin A. The old adage holds true, "Everything in moderation." How do we ensure that we do not consume too much or too little of a nutrient? In this day and age, dieting is a multi-billion dollar a year business with no shortage of self-proclaimed success stories endorsing their own diet. In many instances, the more extreme the diet, the better the resulting news coverage. Recently, actor Ashton Kutcher tried the fruitarian diet when training for his portrayal of Steve Jobs. He ended up in the <a href="http://health.usnews.com/health-news/articles/2013/02/07/ashton-kutchers-fruitarian-diet-what-went-wrong">hospital</a>. Even sensible people on a vegan diet can have imbalances such as B12 deficiency since B12 has limited vegan sources. <strong>The goal of Diet Rater is for everyone to be able to evaluate the merits of a diet before trying it out or to identify potential risks in their current diet. </strong>
</p>
<h2>The team</h2>
<p>Hi, I'm <a href="https://github.com/yifeiwu">Yifei</a>. I made this application mostly out of personal curiousity. After graduating with a biomedical engineering degree, I found myself in a world where kale, rhubarb and even cheeze whizz are almost non-existent. It became pretty hard to know if I was getting enough micronutrients from eating local crops like "ivi", "rourou" and "bele". 
<br>
<br>
While most diet trackers give you macronutrient analysis, I was more concerned with whether or not my recent lethargy was caused by Vitamin D deficiency (since I was drinking much less milk). My initial goal was to make a collaborative database with custom food details for localized foodstuffs e.g. a user from Iceland might be able to add the nutritional details for their Hákarl. This is still my goal, but baby steps first. I'm slowly developing my web development skills; that feature(and many more) will be implemented as soon as I can. 
<br><br>

Helping me find my way along is my friend <a href="https://github.com/dtam">David</a>. He's a SF based developer who likes eating fried chicken. 
</p>

</div>
</div>
