<div class="container">
<div class="col-md-8 col-md-offset-2">

<h1>The Science</h1>
<h2>The data</h2>
<p>The information in this database is derived the USDA National Nutrient Database for Standard Reference, Release 27(SR27). The USDA does testing of various foods and dishes available in the USA and publishes updates on a regular basis. 
<br><br>
The dietary guidelines used to form the reference level of intake are based recommendations from the Food and Nutrition Board, Institute of Medicine, National Academies based in the US. 
</p>
<h2>Daily Recommended Intake</h2>
<p>Quoting the USDA: <strong>"The Dietary Reference Intakes (DRIs) are developed and published by the Institute of Medicine (IOM). The DRIs represent the most current scientific knowledge on nutrient needs of healthy populations. Please note that individual requirements may be higher or lower than the DRIs."</strong> Drastically exceeding the recommended requirements can have adverse toxicity effects and deficiencies can also result in diseases. 

<h2>Disclaimer</h2>
<p>I am not a nutritionist or a dietician and the information provided on this website is to be used for informational purposes only and not to be taken as medical guidelines. Please see a registered physician for medical advice concerning your individual dietary requirements.</p>
</div>
</div>
