<div class="container">

<h1>Diet Analysis</h1>

<% h = Hash[@nutrients.zip @total] %>

<div class="row">
  <!-- Column Chart --> 
  <div class="container" style="height: 600px">

    

    <%= column_chart h,{library: {hAxis: {title: "Vitamins", slantedText:true, slantedTextAngle:60}, vAxis: {title: "Percent Fulfilling RDA", minValue:0, maxValue:130}, title: "Vitamin Analysis", titlePosition:"Out", height:600}} %>
     </div>
     </div>

<br>

    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h6>This chart calculates your intake as a percent of the recommended daily allowance using a 18-30 year old male as reference. Guidelines are as described by the USDA</h6>
    <h6>http://www.nal.usda.gov/fnic/DRI/DRI_Tables/RDA_AI_vitamins_elements.pdf</h6>
    </div>
    </div>

 
  <!-- Bar Chart --> 

</div>







<br>
