

<h1>Diet Analysis</h1>

<table>
  <thead>
    <tr>
      <th>Nutrient</th>
      <th>Total Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @total.each_with_index do |total_entry, index| %>
      <tr>
        <td><%= @nutrients[index] %></td>
        <td><%= @total[index] %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
