<div class="container">
<h1>Diet Analysis</h1>

<ul class="nav nav-tabs" data-tabs="tabs" data-step="1" data-intro="Click the tabs to view diet info">
  <li><a href="#macros_tab" data-toggle="tab">Macronutrients</a></li>
  <li><a href="#vitamins_tab" data-toggle="tab">Vitamins</a></li>
  <li><a href="#minerals_tab" data-toggle="tab">Minerals</a></li>
  </ul>
<div id="myTabContent" class="tab-content" >

    <div class="tab-pane active fade active in" id="macros_tab">
    <div class="col-md-10" style="height: 400px">

    <%= bar_chart @macro_hash,{library: {hAxis: {title: "Total Value", minValue:0 }, vAxis: {title: "Macronutrients", }, title: "Macro Analysis", titlePosition:"Out", height:400}} %>

    </div>
    </div>


	<div class="tab-pane fade in" id="vitamins_tab">
    <div class="col-md-10" style="height: 400px">

    <%= bar_chart @vitamin_hash,{library: {hAxis: {title: "Percent of RDA", minValue:0, maxValue:130 }, vAxis: {title: "Vitamin", }, title: "Vitamin Analysis", titlePosition:"Out", height:400}} %>
    </div>
    </div>

    <div class="tab-pane fade in" id="minerals_tab">
    <div class="col-md-10" style="height: 400px">

    <%= bar_chart @mineral_hash,{library: {hAxis: {title: "Percent of RDA", minValue:0, maxValue:130 }, vAxis: {title: "Mineral", }, title: "Mineral Analysis", titlePosition:"Out", height:400}} %>

    </div>
    </div>

    </div>
</div>

<hr>
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h6>This chart calculates your intake as a percent of the recommended daily allowance using a 18-30 year old male as reference. Guidelines are as described by the USDA</h6>
    <h6>http://www.nal.usda.gov/fnic/DRI/DRI_Tables/RDA_AI_vitamins_elements.pdf</h6>
    </div>
    </div>


</div>
<script type="text/javascript">
  if (RegExp('multipage', 'gi').test(window.location.search)) {
    introJs().start();
  }
</script>







