<% if !@cart_item.nil? && @cart_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @cart_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @cart_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @cart_items.each do |cart_item| %>
    <%= render 'carts/cart_row', food: cart_item.food, cart_item: cart_item %>
  <% end %>

<%= link_to "Rate this diet", :controller => :carts, :action => :checkout %>




  





<% end %>