
<table class="table table-striped table-hover ">
  <tbody>

       </thead>
			<tbody id="results">
			
				<%= render @foods %>

			</tbody>
		</table>
		<div id="paginator">
			<%= paginate @foods, :remote => true %>
		</div>
    

</tbody>
</table>
 	